html, body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

/* login page */

.companyTitle {
  font-size: 70px;
  font-weight: 600;
  letter-spacing: -.07em;
  padding: 0 0 15px 0;
  margin: 0 0 5px 0;
  color: #3FA9F5;
  border-bottom: 2px solid #ccc;
}


.blurb {
  line-height: 1.3em;
  letter-spacing: .07em;
  color: #777;
}


.loginPage {
  margin: 100px 0 0 0;
}

.loginPage .login {
  margin-top:50px;
}

.login .loginButton {
  margin: 10px 0 0 0;
}

form legend {}

form {}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

form, form fieldset input, form fieldset textarea, form label {
  font-family: Helvetica, Arial;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
}

form p { position: relative; margin: 10px 0;}
form p label { position: absolute; top: 0; left: 0;}
form p br {display: none;}


form fieldset p input, form fieldset p textarea {
  display: block;
  padding: 4px;
  width: 300px;
  margin: 0;
}

form fieldset p label {
  width: 380px;
  display: block;
  margin: 5px 5px 5px 6px;
  padding: 0;
}

form fieldset p textarea {
  padding: 2px;
  width: 404px;
}

form fieldset p textarea, form fieldset p input {}

form fieldset p label {
  color: #777;
}

/* 2.html */
.importantNote {
  background-image:url('images/exclamation.png');
  background-repeat: no-repeat;
  background-position: left center;

  padding: 15px 0 15px 0;
  margin: -7px 0 30px 0;

  letter-spacing: -.05em;
  font-size: 30px;
  font-weight: bold;
  color: #DD2431;

  border-top: 2px solid #CCC;
  border-bottom: 2px solid #CCC;
}

.importantNote p {
  margin: -4px 0 0 60px;
}

.radio {
  display: block;
  line-height: 1.4;
}

.spaceOnTop {
  margin: 100px 0 0 0;
}

.spaceOnTop form {
  margin: 0 0 30px 0;
}

.spaceOnTop form p {
  margin: 0 0 5 0;
  font-size: 17px;
  color: #555;
}

/* 3.html */
.question {
  letter-spacing: -0.05em;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
}

/* 4, 5.html */
.pageSubTitle {
  float: right;
  position: relative;
  top: -70px;
  color: #bbb;
}

.ui-combobox {
  position: relative;
  display: inline-block;
  margin: -10px 0 0 0;
}

.ui-combobox input {
  padding: 7 7 7 7;
  width: 400px;
  height: 30px;
}

.dropdown .ui-button {
  margin: 0 0 0 0;
  padding: 11 3 11 3;
  height: 38px;
  position: relative;
  top: 14px;
}
.ui-autocomplete-input {
  margin: 0;
  padding: 0.3em;
}

.popUpNote {
  font-size: 20px;
  font-weight: bold;
}

.red {
  background-image:url('images/exclamationSmall.png');
  background-repeat: no-repeat;
  background-position: left center;

  padding: 0 0 0 35px;

  letter-spacing: -.05em;
  color: #DD2431;
}

.green {
  background-image:url('images/checkSmall.png');
  background-repeat: no-repeat;
  background-position: left center;

  padding: 0 0 0 35px;

  letter-spacing: -.05em;
  color: #5AAF3A;
}